<template name="createUserModal">

    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel3">Create New User</h4>
                </div>

                <div class="modal-body">
                    <h4 id="createUserError"></h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="username">Username:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" placeholder="Enter Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="cpwd">Confirm Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="cpwd" placeholder="Confirm password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="rolecheck">Role:</label>
                            <div class="col-sm-10">
                                <select id="rolecheck">
                                    <option value="0">Assign new user's role</option>
                                    <option value="admin">admin</option>
                                    <option value="basic">basic</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Create User</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createTicketList" data-dismiss="modal">Create Ticket List</button>
                </div>-->

            </div>
        </div>
    </div>

</template>