<template name="leftcolumn">
    <div class="col-sm-2">
        {{#if currentUser}}
            <button type="button" class="btn btn-primary" id="addList" data-toggle="modal" data-target="#newListModal">New List</button>
        {{/if}}
        <br>
        <br>
        <ul style="list-style-type: none;">
            {{#each getLists}}
                <li class="listName"><a href="#">{{listname}}</a></li>
            {{/each}}
        </ul>
    </div>
</template>