<template name="rightcolumn">
    <div class="col-xs-12 col-sm-10">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#"><i class="fa fa-cog"></i></a>
                    <h1 id="titleHeader">{{getListTitle}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{#if currentUser}}
                        <form>
                            <div class="container inputForm">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-8">
                                        <input class="form-control" type="text" id="itemInput" placeholder="Type new Ticket Item here">
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {{else}}
                        *-- Please Login to create tickets --*
                    {{/if}}

                    <br>
                    <br>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-1" style="text-align: center;">TICKET NO.</div>
                                    <div class="col-xs-5" style="text-align: center;">CONTEXT</div>
                                    <div class="col-sm-1" style="text-align: center;">PRIORITY</div>
                                    <div class="col-sm-1" style="text-align: center;">COMMENTS</div>
                                    {{#if currentUser}}<div class="col-sm-1" style="text-align: center;">EDIT</div>{{/if}}
                                    {{#if currentUser}}<div class="col-sm-1" style="text-align: center;">DELETE</div>{{/if}}
                                    {{#if currentUser}}<div class="col-sm-1" style="text-align: center;">DONE</div>{{/if}}
                                </div>
                            </div>
                        </li>
                        {{#each getListEntries}}
                            {{> ticketentry}}
                        {{/each}}
                        <li class="list-group-item">COMPLETED</li>
                        {{#each doneListEntries}}
                            {{> ticketentry}}
                        {{/each}}

                    </ul>
                </div>
                </div>
            </div>
        </div>
</template>